<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">
      ALCOMETER
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ALCOMETER</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
    <ion-item>
    <ion-label>Weight in kilograms</ion-label>
    <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select name="gender" [(ngModel)]="gender">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label>Time</ion-label>
    <ion-select type="number" name="time" [(ngModel)]="time" placeholder="Number of hours?">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
    </ion-item>
  <ion-item>
    <ion-label>Bottles</ion-label>
    <ion-select type="number" name="bottles" [(ngModel)]="bottles" placeholder="Number of bottles?">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Promilles</ion-label>
<ion-input name="promilles" readonly value="{{promilles}}"></ion-input> 
  </ion-item>
    </ion-list>
    <ion-item>
      <ion-button fill="outline" (click)="calculate()">Calculate</ion-button>
    </ion-item>
  </div>
</ion-content>
